/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Press Start 2P Regular'), local('PressStart2P-Regular'), url(https://fonts.gstatic.com/s/pressstart2p/v8/e3t4euO8T-267oIAQAu6jDQyK3nVivY.ttf) format('truetype');
}
html {
  font-family: 'Press Start 2P', sans-serif;
}
html body {
  background-color: grey;
  width: 100vw;
  border: 2px solid blue;
}
html body header {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5%;
  background-color: green;
}
html body header h1 {
  font-size: 2rem;
  color: red;
  text-align: center;
}
html body header .top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5%;
  border: 2px solid yellow;
}
html body header .top img {
  padding: 20px;
  border: 2px solid black;
}
html body header .top nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
html body header .top button {
  padding: 20px;
  height: 50px;
  width: 150px;
  font-family: 'Press Start 2P', sans-serif;
  background-color: lightsalmon;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
}
html body .everythingelse {
  display: flex;
  flex-direction: column;
  height: 100vh;
  border: 2px solid yellow;
  background-image: url("/images/logo2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
html body .everythingelse p {
  padding: 10%;
  width: 65%;
  height: 20%;
  margin: 0 auto;
  margin-top: 5%;
  color: green;
  background-color: black;
  text-align: center;
  border: 2px solid black;
}
html body .everythingelse p img {
  height: 100px;
  width: 100px;
}
html body .everythingelse footer {
  margin-top: 50%;
  color: purple;
  text-align: center;
}
